.container-1{
    display: flex;
}
.container-2{
    display: flex;
}
.container-3{
    display: flex;
}
p{
    color: black;
    font-size: 8;
    width: 150;
    line-height: 15px;
    padding: 15px;
    text-align: center;
}

body{
    max-width: 500px;
    margin-right:100px;
    margin-left: 120px;
    
   
}

h1{
    text-align: center;
    color: red;
    
   
    
}
.pic{
    height: 100;
    width: 400px;
    margin: 10px;
    float: left;
}
h4{
    color: aqua;
    text-align: justify;
    
    
}
.box-G{
    flex: 2;
}
